* {
  font-family: "Editorial New", serif;
}

a {
  text-decoration: none;
  color: black;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blueviolet;
  /* color: black; */
}

.links {
  display: flex;
  flex-direction: row;
}
